/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0px;
}

.center-spinner{
    margin: 0 auto;
    margin-top: 50px;
}

.status-msg-info{
    margin: 10px;
    padding: 10px;
    background-color: rgb(1, 144, 201);
    font-size: 20px;
    color:#fff;
}
.status-msg-error{
    margin: 10px;
    padding: 10px;
    background-color: #F44336;
    font-size: 20px;
    color:#fff;
}
